.slideMeal {
  display: block;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  /* margin-bottom: 15px; */
  position: relative;
}
.slideMeal:hover .mealImgView {
  transform: scale(1.2);
}
.mealHeader {
  height: 180px !important;
  overflow: hidden;
  cursor: pointer;
}
.mealImgView {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: all 0.3s linear;
  height: 100% !important;
}
.mealBody {
  padding: 20px;
  border-top: none;
  border-radius: 0 0 12px 12px;
}
.mealTitle {
  font-size: 19px;
  color: #000;
  margin-bottom: 5px;
  line-height: 1;
}
.mealDescription {
  margin-bottom: 14px;
  color: #777;
  line-height: 1.4;
}
.mealPrice {
  line-height: 1;
  font-size: 16px;
  color: #666;
}
.mealPrice span {
  color: #000;
}
.toggleFavBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  line-height: 1;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 10;
  display: none;
}
.toggleFavDiv {
  display: flex;
  align-items: center;
}
.toggleFavBtn .icon {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.toggleFavBtnText {
  display: block;
  line-height: 1;
  font-size: 14px;
  margin-left: 8px;
  margin-top: -3px;
}
.buyer {
  display: flex;
  justify-content: space-between;
}
.plusBtn {
  width: 38.4px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 50%;
  background: #fdb71417;
  color: #fdb714;
  border: 2px solid #fdb714;
  line-height: 1;
  position: relative;
}
.plusBtn:hover {
  background: #fdb714;
  color: #fff;
}
.plusBtn:active {
  opacity: 0.7;
}
.plusBtn span {
  display: flex;
  line-height: 1;
  font-size: 26px;
  margin-top: 2px;
}
.buyNow {
  /* width: calc(100% - 48px); */
  width: calc(100%);
  text-align: center;
}
