@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rnsnve');
  src:  url('fonts/icomoon.eot?rnsnve#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rnsnve') format('truetype'),
    url('fonts/icomoon.woff?rnsnve') format('woff'),
    url('fonts/icomoon.svg?rnsnve#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e900";
}
.icon-coffee:before {
  content: "\e901";
}
.icon-down-arrow:before {
  content: "\e902";
}
.icon-empty-heart:before {
  content: "\e903";
}
.icon-food:before {
  content: "\e904";
}
.icon-full-heart:before {
  content: "\e905";
}
.icon-notification:before {
  content: "\e906";
}
.icon-playlist:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-shop:before {
  content: "\e90a";
}
.icon-up-arrow:before {
  content: "\e90b";
}
