.footer {
  background-image: linear-gradient(to top, #fffaf3, #fffdfb);
}
.footerTop {
  padding: 50px 0;
}
.footerBottom {
  padding: 20px 0;
  text-align: center;
  color: #3a3a39;
  font-size: 18px;
  /* background: #5555; */
  border-top: 1px solid #ffe1b8;
}
.footerLinks {
  padding-top: 30px;
}
.footerLink {
  font-size: 18px;
  margin-bottom: 10px;
}
.footerLink a {
  color: #ccc;
  color: #3a3a39;
}
.footerLink a:hover {
  color: #000;
}
.footerText {
  color: #3a3a39;
}
